{% extends "layout.html" %}
{% block content %}
<br>
    <h1>Pitcher Data</h1>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height (in)</th>
        <th scope="col">Weight (lb)</th>
        <th scope="col">Age (yr)</th>
    </tr>
    </thead>
    <tbody>
    {% for pitcher in pitchers %}
    <tr>
        <td><a href="view/{{ pitcher.id }}">{{ pitcher.Name }}</a></td>
        <td>{{ pitcher.Team }}</td>
        <td>{{ pitcher.Position }}</td>
        <td>{{ pitcher.Height_in }}</td>
        <td>{{ pitcher.Weight_lb }}</td>
        <td>{{ pitcher.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">Simple Flask App</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        Welcome to this simple Flask example app. It shows you how to easily
        enable users to register, login, and logout of a Flask web app using <a
           href="https://developer.okta.com">Okta</a>.
      </div>
    </div>
  </div>
{% endblock %}